/* Main_Container_1.css */

/* Section container styles */
.main-container-1 {
    display: flex;
    background-color: #0D5C63;
    justify-content: center;
    align-items: center;
    padding: 10%;
    height: auto; /* Center the content vertically in the viewport */
  }

  
  /* Centered content container styles */
  .centered-content {
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack elements in a column */
    align-items: center; /* Center items horizontally */
  }

  /* Search hook styles */
  .search-hook {
    color:#FFFFFA;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  /* Search bar styles */
  .search-bar {
    background-color: #FFFFFA;
    color:#0D5C63;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Add spacing between the search bar and button */
  }
  
  /* Start ride button styles */
  .start-ride-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFFFFA;
    color: #0D5C63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Hover effect on the button */
  .start-ride-button:hover {
    background-color: #cdf5f8;
  }
  