.rides-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start ;
    margin-top: 60px;
}



.my-rides {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


